body{
  font-family: 'IBM Plex Sans', sans-serif;
background-color: rgb(255, 255, 255) ;
margin: -1px;
font-weight: 500;
COLOR : rgb(0, 89, 255);

}


.image-thumbnail0 {
  
 /* position: absolute;*/
/* padding-left: 50px; */
  left: 24px;
  top: 90.96000000000001px;
  transform: rotate(0deg);
  overflow: hidden;
  margin: 0 auto;
}



.image-box {
  
  position: absolute;
width: 410px;
height: 196px;
left: 885px;
top: 82.96000000000001px;
  transform: rotate(-14.54deg);
  overflow:hidden;
  margin:0 auto;
}

.image-thumbnail {
  
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box2 {
  
  position: absolute;

  width: 554px;
  height: 348px;
  left: 371px;
  top: 109.96000000000001px;
  transform: rotate(0deg);
  overflow: hidden;
  margin: 0 auto;

}

.image-thumbnail2 {
  
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box3 {
  
  position: absolute;
  width: 336px;
  height: 286px;
  left: 995px;
  top: 266.96000000000004px;
  transform: rotate(12deg);
  overflow: hidden;
  margin: 0 auto;

}

.image-thumbnail3 {
  
  width:100%;
  height:100%;
  object-fit:cover;
}


.image-box4 {
  
  position: absolute;
  width: 227px;
  height: 179px;
  left: 766px;
  top: 424.96000000000004px;
  transform: rotate(350deg);
  overflow: hidden;
  margin: 0 auto;

}

.image-thumbnail4 {
  
  width:100%;
  height:100%;
  object-fit:cover;
}

.image{
  /* Group 1 */

position: absolute;
width: 446.08px;
height: 292.68px;
left: 741px;
top: 399px;



/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 410px;
height: 196px;
left: 741px;
top: 136.96px;

background: #D9D9D9;
border: 1px solid #000000;
transform: rotate(-14.54deg);

}
.item1 { 
  grid-area: header; 
  font-size:30px;
  background-color:; 
  padding: 10px;

}
.item7 { 
  grid-area: header2; 
  font-size:30px;
  color : white;
  background-color:rgb(0, 89, 255); 
  padding: 10px;

}
.item8 { 
  grid-area: header3; 
  font-size:30px;
  background-color:; 
  padding: 10px;

}
.item2 { 
  grid-area: menu;
  background-color:; 
  padding: 10px;

}

.item3 { grid-area: main; 
  background-color: ;
  padding: 10px;}
.item4 { grid-area: right; 
  background-color: ; 

}


.item5 { grid-area: footer;
  background-color:; 
  padding: 10px; }
.item6{grid-area: me;
  background-color:; 
column-count: 2;
padding: 10px;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header2 header3 header3 header3 header3'
    'menu main main main main right'
    'footer footer footer footer footer right'
    'footer footer footer footer footer right'
    'footer footer footer footer footer right'
 
    'me me me me me me';
  gap: px;
  background-color: ;
  padding: px;
}

.grid-container > div {
  background-color: ;
  border: 1px solid  rgb(0, 89, 255);
  text-align: left;

  font-size: ;
}

pre {
    font-family: 'Montserrat', sans-serif;
}

#portfolio-list {

  display:
  justify-content: ;
  flex-wrap:;
}

.portfolio {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.portfolio-name {
  margin-top:20px;
  margin-bottom:5px;
}



.me {
  float: right;
  SIZE: 20%;
}
