body{
  font-family: 'IBM Plex Sans', sans-serif;
background-color: rgb(255, 255, 255) ;
margin: -1px;
font-weight: 500;
COLOR : rgb(0, 89, 255);

}


.image-thumbnail0 {
  
 /* position: absolute;*/
/* padding-left: 50px; */
  left: 24px;
  top: 90.96000000000001px;
  transform: rotate(0deg);
  overflow: hidden;
  margin: 0 auto;
}



.image-box { /*피아노 부신거*/
  position: absolute;
  width: 229px;
  height: 163px;
  left: 779px;
  top: 238.96px;
  transform: rotate(355deg);
  overflow: hidden;
  margin: 0 auto;
}

.image-thumbnail {
  
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box2 { /*포스터*/
  position: absolute;
  width: 200px;
  height: 264px;
  left: 477px;
  top: 151.96px;
  transform: rotate(357deg);
  overflow: hidden;
  margin: 0 auto;
  z-index: 0;

}

.image-thumbnail2 {
  
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box3 { /*땅따먹기 표지*/
  
  position: absolute;
  width: 336px;
  height: 286px;
  left: 995px;
  top: 266.96000000000004px;
  transform: rotate(12deg);
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgb(0, 89, 255); 

}

.image-thumbnail3 {
  
  width:100%;
  height:100%;
  object-fit:cover;
}


.image-box4 { /*땅따먹기 책*/
  
  position: absolute;
  width: 227px;
  height: 179px;
  left: 766px;
  top: 424.96000000000004px;
  transform: rotate(350deg);
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgb(0, 89, 255); 

}

.image-thumbnail4 {
  
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box5 { /*아스팔트*/
  
  position: absolute;
  width: 227px;
  height: 313px;
  left: 529px;
  top: 424.96000000000004px;
  transform: rotate(14deg);
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgb(0, 89, 255); 

}

.image-thumbnail5 {
  
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box6 { /*점프신*/
  
  position: absolute;
  width: 356px;
  height: 210px;
  left: 165px;
  top: 424.96000000000004px;
  transform: rotate(351deg);
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgb(0, 89, 255); 
}



.image-thumbnail6 {
  
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box7 { /*정치무당*/
  position: absolute;
  width: 157px;
  height: 159px;
  left: 993px;
  top: 539.96px;
  transform: rotate(2deg);
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;

}



.image-thumbnail7 {
  
  width:100%;
  height:100%;
  object-fit:cover;
}

.image-box8 { /*하회탈*/
  position: absolute;
  width: 230px;
  height: 126px;
  left: 240px;
  top: 289.96000000000004px;
  transform: rotate(343deg);
  overflow: hidden;
  margin: 0 auto;
  z-index: 10;
  box-shadow: 10px 10px 10px rgb(0, 89, 255); 
}



.image-thumbnail8 {
  
  width:100%;
  height:100%;
  object-fit:cover;
  z-index: 10;
}

.image-box9 { /*희미한 메모리*/
  position: absolute;
  width: 171px;
  height: 100px;
  left: 681px;
  top: 188.96000000000004px;
  transform: rotate(3deg);
  overflow: hidden;
  margin: 0 auto;
  z-index: 10;
  box-shadow: 10px 10px 10px rgb(0, 89, 255); 
}



.image-thumbnail9 {
  
  width:100%;
  height:100%;
  object-fit:cover;
  z-index: 10;
}

.image-box10 { /*운명을 사랑하라*/
  position: absolute;
  width: 208px;
  height: 144px;
  left: 1041px;
  top: 149.96000000000004px;
  transform: rotate(3deg);
  overflow: hidden;
  margin: 0 auto;
  z-index: 10;
  box-shadow: 10px 10px 10px rgb(0, 89, 255); 
}



.image-thumbnail10 { 
  
  width:100%;
  height:100%;
  object-fit:cover;
  z-index: 10;
}


.image{
  /* Group 1 */

position: absolute;
width: 446.08px;
height: 292.68px;
left: 741px;
top: 399px;



/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 410px;
height: 196px;
left: 741px;
top: 136.96px;

background: #D9D9D9;
border: 1px solid #000000;
transform: rotate(-14.54deg);

}
.item1 { 
  grid-area: header; 
  font-size:30px;
  background-color:; 
  padding: 10px;

}
.item7 { 
  grid-area: header2; 
  font-size:30px;
  color : white;
  background-color:rgb(0, 89, 255); 
  padding: 10px;

}
.item8 { 
  grid-area: header3; 
  font-size:30px;
  background-color:; 
  padding: 10px;

}
.item2 { 
  grid-area: menu;
  background-color:; 
  padding: 10px;

}

.item3 { grid-area: main; 
  background-color: ;
  padding: 10px;}
.item4 { grid-area: right; 
  background-color: ; 

}


.item5 { grid-area: footer;
  background-color:; 
  padding: 10px; }

.item6{grid-area: k;
  background-color:; 
  font-size: 30;
column-count: ;
padding: 10px;}




.item9{grid-area: drawel;
text-align: center;
  color : rgb(255, 255, 255); 
  background-color:rgb(0, 89, 255); 
column-count: ;
text-align: center;
padding: 10px;}

.item11 > p {
  text-align: center;
  font-size: 3dvh;
  padding : 3dvh;
  color : white;
}
.pp {
  text-align: center;
font-size : 20px;
padding: 3dvh;
color : white;
}
.item10{grid-area: made;
  background-color:; 
  text-align: left;
column-count: 1;
padding: 10px;}

.item11{grid-area: drawell;
  background-color: rgb(0, 89, 255);
column-count: ;
padding: 10px;
border-right: 1px solid #ffffff; 
z-index: 0;

}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header2 header3 header3 header3 header3'
    'menu main main main main right'
    'footer footer footer footer footer right'
    'footer footer footer footer footer right'
    'footer footer footer footer footer right'
    'k k k k k k'
    'drawell drawel drawel drawel drawel drawel'
    'made made made made made made';
  gap: px;
  background-color: ;
  padding: px;

}

.grid-container > div {
  background-color: ;
  border: 1px solid ; 
  text-align: left;

  font-size: ;
}

.grid-container > .item11 {
  background-color: ;
  border: 1px solid  rgb(0, 89, 255);
  text-align: left;
z-index: 10;
  font-size: ;
}

pre {
    font-family: 'Montserrat', sans-serif;
}

#portfolio-list {

  display:
  justify-content: ;
  flex-wrap:;
}

.portfolio {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.portfolio-name {
  margin-top:20px;
  margin-bottom:5px;
}



.me {
  float: right;
  SIZE: 20%;
}
